/* Utilities */
.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.text-white {
    color: #fff;
}

.text-gray {
    color: #b3b3b3;
}

.bg-black {
    background-color: #000;
}

.p-1 {
    padding: 1rem;
}

.m-1 {
    margin: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}